<div class="container">
    <img id="current_image" src="/images/cinq_default.jpg">
    <div id="guests" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 id="company_name">Banco Barigui:</h1>
        <ul id="guests_names">
            <li class="guest">Fernando Belo</li>
            <li class="guest">Mônica Mendes</li>
            <li class="guest">Paulo Lima</li>
            <li class="guest">John Mayer</li>
            <li class="guest">Myles Kennedy</li>
            <li class="guest">Sebastian Bach</li>
            <li class="guest">John Wick</li>
            <li class="guest">Mike Mayers</li>
        </ul>
    </div> 
</div>