<div>
    <img id="main_image" src="/images/cinq_default.jpg">
    {{!-- <div id="guests">
        <h1 id="company_name">Banco Barigui:</h1>
        <h3 id="guest">Fernando Belo</h3>
        <h3 id="guest2">Monica Mende</h3>
    </div> --}}
</div>