<div class="gallery cursor_hidden">
  {{#each images}}
    {{#checkImagectivation this}}
    {{/checkImagectivation}}
  {{/each}}
  {{#each videos}}
    {{#checkVideoActivation this}}
    {{/checkVideoActivation}}
  {{/each}}
</div>

<script>
  var socket = io.connect("http://{{host}}:3000");
  socket.on('RefreshPage', function(data) {
    location.reload();
    alert('aaa');
  });
</script>