<div class="gallery">
    {{#each images}}
        {{#if this.activated}}
        <section>
            <img class="current_image" src="/uploads/{{this.imageName}}"/>
            <ul class="list-group row guests_list">
                <li class="list-group-item col-xs-12 company_name">{{this.company}}:</li>
                {{#each this.guestsNames}}
                    {{#guestList this}}
                    {{/guestList }}
                {{/each}}
            </ul>
        </section>
        {{/if}}
    {{/each}}
    {{#each videos}}
        {{#if this.activated}}
        <section>
            <video class="current_video" autoplay muted loop preload>
                <source src="/uploads/{{this.videoName}}" type="video/mp4"></source>
            </video>
        </section>
        {{/if}}
    {{/each}}
</div>