<div>
  <img class="current_image" src="/images/cinq_background.png">
  <div class="loader-wrapper">
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>
  <div class="page-login">
    <div class="logo-signin">
      <img class="img-responsive" src="/images/logo.png" />
    </div>
    <div>
      <form id="login_form" method="post" class="form-signin">
        <fieldset>
          <input required name="login" autofocus id="login" type="text" class="form-control releway-font" placeholder="Login" maxlength="100" data-toggle="tooltip" data-placement="top" title="Please, put your login here">
          <input required id="password" name="password" type="password" class="form-control" placeholder="Password" maxlength="100" autocomplete="off"  data-toggle="tooltip" data-placement="top" title="Please, put your password here">
          <div class="text-center">
            <button class="btn btn-default ml-auto releway-font sign"  data-toggle="tooltip" data-placement="bottom" title="Click here to sign in">Sign in</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script>
  $('#login_form').on('submit', function(e) {
    e.preventDefault();

    const user = {
      login: $('#login').val(),
      password: $('#password').val()
    }

    $.ajax({
      type: 'POST',
      url: '/api/login',
      data: JSON.stringify(user),
      contentType: 'application/json',
      success: data => {
        window.location.href = "/welcome_screens_list"
      },
      error: () => {
        Swal.fire({
          title: 'Something went wrong!',
          text: 'Please check you e-mail or password and try again :)',
          type: 'error',
          confirmButtonColor: '#EE9658'
        }).then(result => {
          window.location.reload();
        });
      }
    });
  });
</script>