<div>
    <img class="current_image" src="/images/cinq_background.png">
    <div class="container page-login">
        <div class="logo-signin ">
            <img class="img-responsive" src="/images/logo.png" />
        </div>
        <div>
            <form id="login_form" method="post" class="form-signin">
                <fieldset>
                    <input required name="login" autofocus id="login" type="text" class="form-control" placeholder="Login" maxlength="100">
                    <input required id="password" name="password" type="password" class="form-control" placeholder="Password" maxlength="100" autocomplete="off">
                    <button class="btn btn-info btn-block">Sign in</button>
                </fieldset>
            </form>
            <button class="btn btn-info btn-block btn-register" onclick="window.location.href='/register'">Register</button>
        </div>
    </div>
</div>

<script>
    $('#login_form').on('submit', function(e) {
        e.preventDefault();

        const user = {
            login: $('#login').val(),
            password: $('#password').val()
        }

        $.ajax({
            type: 'POST',
            url: '/api/login',
            data: JSON.stringify(user),
            contentType: 'application/json',
            success: (date) => {
                window.location.href = "/welcome_screens_list"
            },
            error: () => {
                alert('Something went wrong. Please check you e-mail and password.');
                window.location.reload();
            }
        })
    })
</script>