<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New image as Welcome Screen</h3>
        </div>
        <div class="panel-body">
          <form id="upload_form">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group flt_left">
                  <label for="defaultImage" class="flt_right">&nbsp Default image as Welcome Screen</label>
                  <input type="checkbox" class="flt_right" name="defaultImage" id="defaultImage" checked>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="video">Choose a new image</label>
                  <input type="file" name="image" id="image" class="form-control input-sm" placeholder="Image" disabled>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">Put the first company name</label>
                  <input type="text" name="company1" id="company1" class="form-control input-sm" placeholder="Company 1">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">Put the second company name</label>
                  <input type="text" name="company2" id="company2" class="form-control input-sm" placeholder="Company 2">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest1" id="guest1" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest2" id="guest2" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest3" id="guest3" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest4" id="guest4" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest5" id="guest5" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest6" id="guest6" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest7" id="guest7" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest8" id="guest8" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
            </div>
            <input type="submit" value="Upload and create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let socket = io();

  $("#company1").on("paste keyup change", function() {
    if ($(this).val() === '' || $(this).val() === ' ') {
      $("#company1").addClass('emptyFields');
      $("#company1").removeClass('fulfilledFields');
    } else {
      $("#company1").addClass('fulfilledFields');
      $("#company1").removeClass('emptyFields');
    }
  });

  $("#image").on("paste keyup change", function() {
    if ($(this).val() === '' || $(this).val() === ' ') {
      $("#image").addClass('emptyFields');
      $("#image").removeClass('fulfilledFields');
    } else {
      $("#image").addClass('fulfilledFields');
      $("#image").removeClass('emptyFields');
    }
  });

  $('#defaultImage').change(function() {
    if ($(this).is(':checked')) {
      $('#image').prop('disabled', true);
    } else {
      $('#image').prop('disabled', false);
    }
  })

  $('#upload_form').submit(function(e) {
    e.preventDefault();

    let formData = new FormData($(this)[0]);

    const isDefault = $('#defaultImage').is(':checked');
    const companyEmpty = $('#company1').val() != '' && $('#company1').val() != ' ';
    const imageEmpty = $('#image').get(0).files.length !== 0;
    
    if ((isDefault && companyEmpty) || (companyEmpty && !isDefault && imageEmpty)) {
      $("#company1").addClass('fulfilledFields');
      $('#image').addClass('fulfilledFields');
      
      $.ajax({
        url: '/api/new_welcome_screen_image',
        type: 'POST',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
           Swal.fire({
            title: 'Success!',
            text: 'Image uploaded successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire({
            title: 'Sorry',
            text: 'An issue has occurred :(',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    } else {
      if (!$('#defaultImage').is(':checked') && $('#image').get(0).files.length === 0) {
        $("#image").addClass('emptyFields');
      }
      $("#company1").addClass('emptyFields');

      Swal.fire({
        title: 'Empty fields',
        text: 'Please fulfill the necessary fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }

    socket.emit('UpdateOnDatabase');
  });
</script>
