<div class="container">
    <img id="current_image_with_nav" src="/images/cinq_background.png"/>
    <div id="new_welcome_screen_form" class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ws-form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New image as Welcome Screen</h3>
                </div>
                <div class="panel-body">
                    <form id="upload_form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group" style="float: left">
                                    <label for="defaultImage" style="float: right">&nbsp Default image as background</label>
                                    <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="image">Choose a new background image</label>
                                    <input type="file" name="image" id="image" class="form-control input-sm" placeholder="Image" disabled>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="companyName">Company name</label>
                                    <input type="text" name="companyName" id="companyName" class="form-control input-sm" placeholder="Company name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{!-- <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="hidden" name="count" value="1" />
                                <div id="fields">
                                    <label class="control-label" for="field1">Guest name</label>
                                    <div class="controls" id="profs"> 
                                        <div id="field">
                                            <input autocomplete="off" class="input form-control input-sm" id="field1" name="prof1" type="text" placeholder="Guest name" data-items="8"/>
                                            <button id="b1" class="btn add-more" style="" type="button">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                            
                            {{!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="guestName">Guest name</label>
                                    <input type="text" name="guestName" class="form-control input-sm" placeholder="Guest name">
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </div>
                            </div> --}}

                            {{!-- <div class="container">
                                <div class="row">
                                    <input type="hidden" name="count" value="1" />
                                    <div class="control-group" id="fields">
                                        <label class="control-label" for="field1">Nice Multiple Form Fields</label>
                                        <div class="controls" id="profs"> 
                                            <form class="input-append">
                                                <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                                            </form>
                                        <br>
                                        <small>Press + to add another form field :)</small>
                                        </div>
                                    </div>
                                </div>
                                </div> --}}

                        </div>
                        <input type="submit" value="Create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#defaultImage').change(function() {
        if ($(this).is(':checked')) {
            $('#image').prop('disabled', true);
        } else {
            $('#image').prop('disabled', false);
        }
    })

    $('#upload_form').submit(function(e) {
        e.preventDefault();

        var formData = new FormData($(this)[0]);
        
        $.ajax({
            url: '/api/new_welcome_screen_image',
            type: 'POST',
            data: formData,
            async: false,
            contentType: false,
            cache: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: (data) => {
                alert('Welcome screen image uploaded successfully!');
                window.location.href = "/"
            },
            error: () => {
                alert('An issue has occurred!');
            }
        })
    })

    {{!-- $(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input class="input form-control input-sm" id="field' + next + '" name="field' + next + '" type="text placeholder="Guest name"">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me btn-create" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);  
        
            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    }); --}}
});
</script>