<div class="container">
    <img id="current_image_with_nav" src="/images/cinq_background.png"/>
    <div id="new_welcome_screen_form" class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New image as Welcome Screen</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group" style="float: left">
                                    <label for="defaultImage" style="float: right">&nbsp Default image as background</label>
                                    <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="image">Choose a new background image</label>
                                    <input type="file" name="image" id="image" class="form-control input-sm" placeholder="Image" disabled>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="companyName">Company name</label>
                                    <input type="text" name="companyName" id="companyName" class="form-control input-sm" placeholder="Company name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="guestName">Guests names</label>
                                    <input type="text" name="guestName" id="guestName" class="form-control input-sm" placeholder="Guests names">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Create" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>