<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Visitor Page</h3>
        </div>
        <div class="panel-body">
          <form id="upload_form">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group flt_left">
                  <label for="defaultImage" class="flt_right">&nbsp Default image as Welcome Screen</label>
                  <input type="checkbox" class="flt_right" name="defaultImage" id="defaultImage" checked>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="video">Choose a new image</label>
                  <input type="file" name="image" id="image" class="form-control input-sm" placeholder="Image" disabled>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center">
                  <input type="checkbox" name="startScheduleWs" id="startScheduleWs">
                  <label for="startScheduleWs">I want to schedule this WS from:</label>
                  <input type='text' name="startDate" id="startDate" class="datepicker-here form-control input-sm" data-position="top center" data-language='en' data-timepicker="true" placeholder="Start time" disabled/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center"> 
                  <input type="checkbox" class="vsb_hidden">
                  <label for="finishScheduleWs">To:</label>
                  <input type='text' name="endDate" id="endDate" class="datepicker-here form-control input-sm" data-position="top center" data-language='en' data-timepicker="true" placeholder="Finish time" disabled/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">First company name</label>
                  <input type="text" name="company1" id="company1" class="form-control input-sm" placeholder="Company 1">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">Second company name</label>
                  <input type="text" name="company2" id="company2" class="form-control input-sm" placeholder="Company 2">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest1" id="guest1" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest2" id="guest2" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest3" id="guest3" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest4" id="guest4" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest5" id="guest5" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest6" id="guest6" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest7" id="guest7" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest8" id="guest8" class="form-control input-sm" placeholder="Guest name">
                </div>
              </div>
            </div>
            <input type="submit" value="Upload and create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    timer: 3000
  });
  const socket = io();
  const actualDate = new Date();
  const dateNow = GetTodaysDatePlusOne(actualDate);
  const dateTomorrow = GetTomorrowsDate(actualDate);
  let yearStart = '';
  let monthStart = '';
  let yearFinish = '';
  let monthFinish = '';
  let formatedDate = FormatDateBeauty(dateNow);
  let expirationDate = FormatDateBeauty(dateTomorrow);
  let startDateFormatted = dateNow;
  let expirationDateFormatted = dateTomorrow;
  let dateStart = dateNow;
  let dateEnd = dateTomorrow;
  let startDate = FormatDateUgly(dateNow);
  let finishDate = FormatDateUgly(dateTomorrow);

  $("#company1").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#company1", "emptyFields", "fulfilledFields");
  });

  $("#image").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#image", "emptyFields", "fulfilledFields");
  });

  $("#startDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#startDate", "emptyFields", "fulfilledFields");
  });

  $("#endDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#endDate", "emptyFields", "fulfilledFields");
  });

  $('#defaultImage').change(function() {
    if ($(this).is(':checked')) {
      $('#image').prop('disabled', true);
    } else {
      $('#image').prop('disabled', false);
    }
  });
  
  $('#startScheduleWs').change(function() {
    if ($(this).is(':checked')) {
      $('#startDate, #endDate').prop('disabled', false);
      $("#startDate").val(formatedDate);
      $("#endDate").val(expirationDate);
    } else {
      $('#startDate, #endDate').prop('disabled', true);
      $("#startDate").val('');
      $("#endDate").val('');
    }
  });

  $('#startDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateNow,
    minHours: dateNow,
    onSelect: function(fd, d, picker) {
      dateStart = d;
      monthStart = GetCorrectMonth(d);
      yearStart = FormatYear(d);
      startDate = FormatDateToEnroll(d, monthStart, yearStart);
      startDateFormatted = d;
      CheckTime();
      if (dateEnd == '' && dateStart != '')
        AddAndRemoveClassSimple('#endDate', 'emptyFields', 'fulfilledFields');
    }
  });

  $('#endDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateTomorrow,
    minHours: dateTomorrow,
    onSelect: function(fd, d, picker) {
      dateEnd = d;
      monthFinish = GetCorrectMonth(d);
      yearFinish = FormatYear(d);
      finishDate = FormatDateToEnroll(d, monthFinish, yearFinish);
      expirationDateFormatted = d;
      CheckTime();
      if (dateStart == '' && dateEnd != '')
        AddAndRemoveClassSimple('#startDate', 'emptyFields', 'fulfilledFields');
    }
  });

  $('#upload_form').submit(function(e) {
    e.preventDefault();

    const formData = new FormData($(this)[0]);
    const isDefault = $('#defaultImage').is(':checked');
    const companyEmptyOrNull = $('#company1').val() !== '' && $('#company1').val() !== ' ';
    const imageEmpty = $('#image').get(0).files.length !== 0;
    const imageSize = $('#image').get(0).files.length;
    const isScheduled = $("#startScheduleWs").is(':checked');
    const startDateEmptyOrNull = $("#startDate").val() !== '' && $("#startDate").val() !== ' ';
    const startDateInvalid = $("#startDate").val() === '' || $("#startDate").val() === ' ';
    const endDateEmptyOrNull = $("#endDate").val() !== '' && $("#endDate").val() !== ' ';
    const endDateInvalid = $("#endDate").val() === '' || $("#endDate").val() === ' ';
    const companyEmpty = $('#company1').val() === ''; 
    const scheduledTime = isScheduled && startDateEmptyOrNull;
    const scheduledTimeFinish = isScheduled && endDateEmptyOrNull;
    const startTimeEmpty = isScheduled && startDateInvalid;
    const finishTimeEmpty = isScheduled && endDateInvalid;
    const defaultImage = isDefault && companyEmptyOrNull && !isScheduled;
    const notDefaultImageNotScheduled = !isDefault && companyEmptyOrNull && imageEmpty && !isScheduled;
    const notDefaultScheduled = !isDefault && imageEmpty && isScheduled && startDateEmptyOrNull && endDateEmptyOrNull && companyEmptyOrNull;
    const defaultScheduled = isDefault && !imageEmpty && isScheduled && startDateEmptyOrNull && endDateEmptyOrNull && companyEmptyOrNull;
    const dateTime = CheckTime();
    const conditionsToEnroll = defaultImage || notDefaultImageNotScheduled || notDefaultScheduled || defaultScheduled && dateTime;

    if (!isScheduled) {
      $("#startDate").removeClass('fulfilledFields');
      $("#endDate").removeClass('fulfilledFields');
    }

    if (conditionsToEnroll) {
      const isProgrammed = CheckIsProgrammed(isScheduled);

      $("#company1").addClass('fulfilledFields');
      $('#image').addClass('fulfilledFields');
      
      $.ajax({
        url: `/api/new_welcome_screen_image/${startDate}/${finishDate}/${isProgrammed}`,
        type: 'POST',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
           Swal.fire({
            title: 'Success!',
            text: 'Image uploaded successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire({
            title: 'Sorry',
            text: 'An issue has occurred :(',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    } else {
      if (!isDefault && imageSize === 0) {
        $("#image").addClass('emptyFields');
      }

      $("#company1").addClass('emptyFields');

      if (startTimeEmpty) {
        AddAndRemoveClassSimple("#startDate", "emptyFields", "fulfilledFields");
      }
      if (finishTimeEmpty) {
        AddAndRemoveClassSimple("#endDate", "emptyFields", "fulfilledFields");
      }

      Swal.fire({
        title: 'Attention',
        text: 'Please check the fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }

    socket.emit('UpdateOnDatabase');
  });
</script>
