<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New video as Welcome Screen</h3>
        </div>
        <div class="panel-body">
          <form id="upload_form">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="title">Choose a title for the video</label>
                  <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Title">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="video">Choose a new video</label>
                  <input type="file" name="video" id="video" class="form-control input-sm" placeholder="Video">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center">
                  <input type="checkbox" name="startScheduleWs" id="startScheduleWs">
                  <label for="startScheduleWs">I want to schedule this WS from:</label>
                  <input type='text' name="startDate" id="startDate" class="datepicker-here form-control input-sm" data-position="top center" data-language='en' data-timepicker="true" placeholder="Start time" disabled/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center">
                  <input type="checkbox" class="vsb_hidden">
                  <label for="finishScheduleWs">To:</label>
                  <input type='text' name="endDate" id="endDate" class="datepicker-here form-control input-sm" data-position="top center" data-language='en' data-timepicker="true" placeholder="Finish time" disabled/>
                </div>
              </div>
            </div>
            <input type="submit" id="confirm" value="Upload and create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    timer: 3000
  });
  const socket = io();
  const dateNow = new Date();
  const dateTomorrow = getTomorrowsDate(dateNow);
  let yearStart = '';
  let monthStart = '';
  let yearFinish = '';
  let monthFinish = '';
  let formatedDate = formatDateBeauty(dateNow);
  let expirationDate = formatDateBeauty(dateTomorrow);
  let startDateFormatted = dateNow;
  let expirationDateFormatted = dateTomorrow;
  let startDate = formatDateUgly(dateNow);
  let finishDate = formatDateUgly(dateTomorrow);

  $("#title").on("paste keyup change focusout", function() {
    addAndRemoveClassConditional("#title", "emptyFields", "fulfilledFields");
  });

  $("#video").on("paste keyup change focusout", function() {
    addAndRemoveClassConditional("#video", "emptyFields", "fulfilledFields");
  });

  $("#startDate").on("paste keyup change focusout", function() {
    addAndRemoveClassConditional("#startDate", "emptyFields", "fulfilledFields");
  });

  $("#endDate").on("paste keyup change focusout", function() {
    addAndRemoveClassConditional("#endDate", "emptyFields", "fulfilledFields");
  });

  $('#startScheduleWs').change(function() {
    if ($(this).is(':checked')) {
      $('#startDate, #endDate').prop('disabled', false);
      $("#startDate").val(formatedDate);
      $("#endDate").val(expirationDate);
    } else {
      $('#startDate, #endDate').prop('disabled', true);
      $("#startDate").val('');
      $("#endDate").val('');
    }
  });

  $('#startDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateNow,
    minHours: dateNow,
    onSelect: function(fd, d, picker) {
      monthStart = getCorrectMonth(d);
      yearStart = formatYear(d);
      startDate = formatDateToEnroll(d, monthStart, yearStart);
      startDateFormatted = d;
      checkTime();
    }
  });

  $('#endDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateTomorrow,
    minHours: dateTomorrow,
    onSelect: function(fd, d, picker) {
      monthFinish = getCorrectMonth(d);
      yearFinish = formatYear(d);
      finishDate = formatDateToEnroll(d, monthFinish, yearFinish);
      expirationDateFormatted = d;
      checkTime();
    }
  });

  $('#upload_form').submit(function(e) {
    e.preventDefault();

    let formData = new FormData($(this)[0]);
    const isScheduled = $("#startScheduleWs").is(':checked');
    const isDefault = $('#defaultVideo').is(':checked');
    const titleEmptyOrNull = $('#title').val() !== '' && $('#title').val() !== ' ';
    const startDateEmptyOrNull = $("#startDate").val() !== '' && $("#startDate").val() !== ' ';
    const startDateInvalid = $("#startDate").val() === '' || $("#startDate").val() === ' ';
    const endDateEmptyOrNull = $("#endDate").val() !== '' && $("#endDate").val() !== ' ';
    const endDateInvalid = $("#endDate").val() === '' || $("#endDate").val() === ' ';
    const titleEmpty = $('#title').val() === ''; 
    const videoEmpty = $('#video').get(0).files.length !== 0;
    const scheduledTime = isScheduled && startDateEmptyOrNull;
    const scheduledTimeFinish = isScheduled && endDateEmptyOrNull;
    const startTimeEmpty = isScheduled && startDateInvalid;
    const finishTimeEmpty = isScheduled && endDateInvalid;
    const dateTime = checkTime();

    if (!isScheduled) {
      $("#startDate").removeClass('fulfilledFields');
      $("#endDate").removeClass('fulfilledFields');
    }

    if ((isDefault && titleEmpty) || (titleEmptyOrNull && !isDefault && videoEmpty && ((scheduledTime && scheduledTimeFinish) || !isScheduled)) && dateTime) {
      const isProgrammed = checkIsProgrammed(isScheduled);
      
      $("#title").addClass('fulfilledFields');
      $("#video").addClass('fulfilledFields');

      $.ajax({
        url: `/api/new_welcome_screen_video/${startDate}/${finishDate}/${isProgrammed}`,
        type: 'POST',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
          Swal.fire({
            title: 'Success!',
            text: 'Video uploaded successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list";
          });
        },
        error: () => {
          Swal.fire({
            title: 'Sorry',
            text: 'An issue has occurred :(',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    } else {
      $("#title").addClass('emptyFields');
      $("#video").addClass('emptyFields');

      if (startTimeEmpty) {
        addAndRemoveClassSimple("#startDate", "emptyFields", "fulfilledFields");
      }
      if (finishTimeEmpty) {
        addAndRemoveClassSimple("#endDate", "emptyFields", "fulfilledFields");
      }

      Swal.fire({
        title: 'Attention',
        text: 'Please check the fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }

    socket.emit('UpdateOnDatabase');
  });
</script>