<div class="container">
    <img id="current_image_with_nav" src="/images/cinq_background.png"/>
    <div id="new_welcome_screen_form" class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New video as Welcome Screen</h3>
                </div>
                <div class="panel-body">
                    <form id="upload_form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group" style="float: left">
                                    <label for="defaultVideo" style="float: right">&nbsp Default video as Welcome Screen</label>
                                    <input type="checkbox" style="float: right" name="defaultVideo" id="defaultVideo" checked>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="title">Choose a title for the video</label>
                                    <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Title" disabled>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="video">Choose a new video</label>
                                    <input type="file" name="video" id="video" class="form-control input-sm" placeholder="Video" disabled>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Upload and create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#defaultVideo').change(function() {
        if ($(this).is(':checked')) {
            $('#video').prop('disabled', true);
            $('#title').prop('disabled', true);
        } else {
            $('#video').prop('disabled', false);
            $('#title').prop('disabled', false);
        }
    })

    $('#upload_form').submit(function(e) {
        e.preventDefault();

        var formData = new FormData($(this)[0]);
        
        $.ajax({
            url: '/api/new_welcome_screen_video',
            type: 'POST',
            data: formData,
            async: false,
            contentType: false,
            cache: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: (data) => {
                alert('Video uploaded successfully!');
                window.location.href = "welcome_screens_list"
            },
            error: () => {
                alert('An issue has occurred!');
            }
        });
    })
</script>