<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New video as Welcome Screen</h3>
        </div>
        <div class="panel-body">
          <form id="upload_form">
            <div class="row">
              {{#if isAdmin}}
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group flt_left">
                    <label for="defaultVideo" class="flt_right releway-font">&nbsp Default video as Welcome Screen</label>
                    <input type="checkbox" name="defaultVideo" id="defaultVideo">
                  </div>
                </div>
              {{/if}}
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label for="title" class="releway-font-sub">Choose a title for the video</label>
                  <input type="text" name="title" id="title" class="form-control input-sm releway-font" placeholder="Title">
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="video" class="releway-font-sub">Choose a new video</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input releway-font" name="video" id="video">
                    <label class="custom-file-label" for="video">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center">
                  <input type="checkbox" name="startScheduleWs" id="startScheduleWs">
                  <label for="startScheduleWs" class="releway-font">I want to schedule this WS from:</label>
                  <input type='text' name="startDate" id="startDate" class="datepicker-here form-control input-sm releway-font" data-position="top center" data-language='en' data-timepicker="true" placeholder="Start time" disabled/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_center"> 
                  <input type="checkbox" class="vsb_hidden">
                  <label for="finishScheduleWs" class="releway-font">To:</label>
                  <input type='text' name="endDate" id="endDate" class="datepicker-here form-control input-sm releway-font" data-position="top center" data-language='en' data-timepicker="true" placeholder="Finish time" disabled/>
                </div>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" id="confirm" value="Upload and create" class="btn btn-default btn-upload col-6 releway-font">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    timer: 3000
  });
  const socket = io();
  const actualDate = new Date();
  const dateNow = GetTodaysDatePlusOne(actualDate);
  const dateTomorrow = GetTomorrowsDate(actualDate);
  let yearStart = '';
  let monthStart = '';
  let yearFinish = '';
  let monthFinish = '';
  let formatedDate = FormatDateBeauty(dateNow);
  let expirationDate = FormatDateBeauty(dateTomorrow);
  let startDateFormatted = dateNow;
  let expirationDateFormatted = dateTomorrow;
  let dateStart = dateNow;
  let dateEnd = dateTomorrow;
  let startDate = FormatDateUgly(dateNow);
  let finishDate = FormatDateUgly(dateTomorrow);

  $("#title").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#title", "is-invalid", "is-valid");
  });

  $("#video").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#video", "is-invalid", "is-valid");
  });

  $("#startDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#startDate", "is-invalid", "is-valid");
  });

  $("#endDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#endDate", "is-invalid", "is-valid");
  });

  $('#defaultVideo').change(function() {
    if ($(this).is(':checked')) {
      EnableDisableVideoAndTitle(true);
    } else {
      EnableDisableVideoAndTitle(false);
    }
  });

  $('#startScheduleWs').change(function() {
    if ($(this).is(':checked')) {
      $('#startDate, #endDate').prop('disabled', false);
      $("#startDate").val(formatedDate);
      $("#endDate").val(expirationDate);
    } else {
      $('#startDate, #endDate').prop('disabled', true);
      $("#startDate").val('');
      $("#endDate").val('');
    }
  });

  $('#startDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateNow,
    minHours: dateNow,
    onSelect: function(fd, d, picker) {
      dateStart = d;
      monthStart = GetCorrectMonth(d);
      yearStart = FormatYear(d);
      startDate = FormatDateToEnroll(d, monthStart, yearStart);
      startDateFormatted = d;
      CheckTime();
      if (dateEnd == '' && dateStart != '')
        AddAndRemoveClassSimple('#endDate', 'is-invalid', 'is-valid');
    }
  });

  $('#endDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateTomorrow,
    minHours: dateTomorrow,
    onSelect: function(fd, d, picker) {
      dateEnd = d;
      monthFinish = GetCorrectMonth(d);
      yearFinish = FormatYear(d);
      finishDate = FormatDateToEnroll(d, monthFinish, yearFinish);
      expirationDateFormatted = d;
      CheckTime();
      if (dateStart == '' && dateEnd != '')
        AddAndRemoveClassSimple('#startDate', 'is-invalid', 'is-valid');
    }
  });

  $('#upload_form').submit(function(e) {
    e.preventDefault();

    const formData = new FormData($(this)[0]);
    const isScheduled = $("#startScheduleWs").is(':checked');
    const isDefault = $('#defaultVideo').is(':checked');
    const titleEmptyOrNull = $('#title').val() !== '' && $('#title').val() !== ' ';
    const startDateEmptyOrNull = $("#startDate").val() !== '' && $("#startDate").val() !== ' ';
    const startDateInvalid = $("#startDate").val() === '' || $("#startDate").val() === ' ';
    const endDateEmptyOrNull = $("#endDate").val() !== '' && $("#endDate").val() !== ' ';
    const endDateInvalid = $("#endDate").val() === '' || $("#endDate").val() === ' ';
    const titleEmpty = $('#title').val() === ''; 
    const videoEmpty = $('#video').get(0).files.length !== 0;
    const scheduledTime = isScheduled && startDateEmptyOrNull;
    const scheduledTimeFinish = isScheduled && endDateEmptyOrNull;
    const startTimeEmpty = isScheduled && startDateInvalid;
    const finishTimeEmpty = isScheduled && endDateInvalid;
    const dateTime = CheckTime();
    const notDefaultNotScheduled = isDefault && titleEmpty;
    const isOrNotScheduled = titleEmptyOrNull && !isDefault && videoEmpty && ((scheduledTime && scheduledTimeFinish) || !isScheduled);
    const conditionToEnroll = (notDefaultNotScheduled || isOrNotScheduled) && dateTime;

    if (!isScheduled) {
      $("#startDate").removeClass('is-valid');
      $("#endDate").removeClass('is-valid');
    }

    if (conditionToEnroll) {
      const isProgrammed = CheckIsProgrammed(isScheduled);
      
      $("#title").addClass('is-valid');
      $("#video").addClass('is-valid');

      if (isDefault) {
        $("#title").removeClass('is-valid');
        $("#video").removeClass('is-valid');
      }

      $.ajax({
        url: `/api/new_welcome_screen_video/${startDate}/${finishDate}/${isProgrammed}`,
        type: 'POST',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
          socket.emit('UpdateOnDatabase');
          
          Swal.fire({
            title: 'Success!',
            text: 'Video uploaded successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list";
          });
        },
        error: () => {
          Swal.fire({
            title: 'Sorry',
            text: 'An issue has occurred :(',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    } else {
      if (!titleEmptyOrNull) 
        $("#title").addClass('is-invalid');
      if (!isDefault && !videoEmpty)
        $("#video").addClass('is-invalid');
      if (isScheduled && !startDateInvalid)
        AddAndRemoveClassSimple("#startDate", "is-valid", "is-invalid");
      if (isScheduled && !endDateInvalid)
        AddAndRemoveClassSimple("#endDate", "is-valid", "is-invalid");

      Swal.fire({
        title: 'Attention',
        text: 'Please check the fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }
  });
</script>