<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New video as Welcome Screen</h3>
        </div>
        <div class="panel-body">
          <form id="upload_form">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group flt_left">
                    <label for="defaultVideo" class="flt_right">&nbsp Default video as Welcome Screen</label>
                    <input type="checkbox" class="flt_right" name="defaultVideo" id="defaultVideo" checked>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <label for="title">Choose a title for the video</label>
                    <input type="text" name="title" id="title" class="form-control input-sm" placeholder="Title" disabled>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <label for="video">Choose a new video</label>
                    <input type="file" name="video" id="video" class="form-control input-sm" placeholder="Video" disabled>
                  </div>
                </div>
              </div>
            <input type="submit" value="Upload and create" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let socket = io();

  $("#title").on("paste keyup change", function() {
    if ($(this).val() === '' || $(this).val() === ' ') {
      $("#title").addClass('emptyFields');
      $("#title").removeClass('fulfilledFields');
    } else {
      $("#title").addClass('fulfilledFields');
      $("#title").removeClass('emptyFields');
    }
  });

  $("#video").on("paste keyup change", function() {
    if ($(this).val() === '' || $(this).val() === ' ') {
      $("#video").addClass('emptyFields');
      $("#video").removeClass('fulfilledFields');
    } else {
      $("#video").addClass('fulfilledFields');
      $("#video").removeClass('emptyFields');
    }
  });

  $('#defaultVideo').change(function() {
    if ($(this).is(':checked')) {
      $('#video').prop('disabled', true);
      $('#title').prop('disabled', true);
    } else {
      $('#video').prop('disabled', false);
      $('#title').prop('disabled', false);
    }
  })

  $('#upload_form').submit(function(e) {
    e.preventDefault();

    let formData = new FormData($(this)[0]);

    const isDefault = $('#defaultVideo').is(':checked');
    const titleEmptyOrNull = $('#title').val() !== '' && $('#title').val() !== ' ';
    const titleEmpty = $('#title').val() === ''; 
    const videoEmpty = $('#video').get(0).files.length !== 0;

    if ((isDefault && titleEmpty) || (titleEmptyOrNull && !isDefault && videoEmpty)) {
      $("#title").addClass('fulfilledFields');
      $("#video").addClass('fulfilledFields');

      $.ajax({
        url: '/api/new_welcome_screen_video',
        type: 'POST',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
          Swal.fire({
            title: 'Success!',
            text: 'Video uploaded successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire(
            'Sorry',
            'An issue has occurred :(',
            'error'
          );
        }
      });
    } else {
      $("#title").addClass('emptyFields');
      $("#video").addClass('emptyFields');

      Swal.fire({
        title: 'Empty fields',
        text: 'Please fulfill the necessary fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }

    socket.emit('UpdateOnDatabase');
  });
</script>