<div>
    <img id="current_image" src="/images/cinq_background.png">
    <div class="container page-login">
        <div class="logo-signin ">
            <img class="img-responsive" src="/images/logo.png" />
        </div>
        <div>
            <form name="form" method="post" class="form-signin">
                <fieldset>
                    <input required autofocus name="name" id="name" type="text" class="form-control" placeholder="Name" maxlength="100">
                    <input required name="login" id="login" type="text" class="form-control" placeholder="Login" maxlength="100">
                    <input required name="email" id="email" type="email" class="form-control" placeholder="E-mail" maxlength="100">
                    <input required id="password" name="password" type="password" class="form-control" placeholder="Password" maxlength="100">
                    <input required id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm password" maxlength="100">
                    <button class="btn btn-info btn-block">Sign on</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>