<div class="container">
    <img id="current_image_with_nav" src="/images/cinq_background.png"/>
    <div id="ws_list" class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>{{user.name}}</h2>
                    <h3>Welcome Screen list</h3>
                </div>
                <br/><br/>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_image'">
                        <i class="fa fa-plus">Add new image</i>
                    </button>
                </di>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_video'">
                        <i class="fa fa-plus">Add new video</i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Date</th>
                    <th>Activation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each videos}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.date}}</td>
                        <td>
                            <div class="form-group" style="float: left">
                                <label for="defaultImage" style="float: right; display: none" id="checkbox-unchecked">&nbspEnable</label>
                                <label for="defaultImage" style="float: right; display: inline" id="checkbox-checked">&nbspDisable</label>
                                <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked onclick="ChangeCheckboxLabel(this)">
                            </div>
                        </td>
                        <td>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                {{/each}}
                {{!-- <tr>
                    <td>Bosh</td>
                    <td>10/04/2019</td>
                    <td>
                        <div class="form-group" style="float: left">
                            <label for="defaultImage" style="float: right; display: none" id="checkbox-unchecked">&nbspEnable</label>
                            <label for="defaultImage" style="float: right; display: inline" id="checkbox-checked">&nbspDisable</label>
                            <input type="checkbox" style="float: right" name="defaultImage" class="defaultImage" checked onclick="ChangeCheckboxLabel(this)">
                        </div>
                    </td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Fender</td>
                    <td>09/04/2019</td>
                    <td>
                        <div class="form-group" style="float: left">
                            <label for="defaultImage" style="float: right; display: none" id="checkbox-unchecked">&nbspEnable</label>
                            <label for="defaultImage" style="float: right; display: inline" id="checkbox-checked">&nbspDisable</label>
                            <input type="checkbox" style="float: right" name="defaultImage" class="defaultImage" checked onclick="ChangeCheckboxLabel(this)">
                        </div>
                    </td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>       --}}
            </tbody>
        </table>
    </div>
</div>                            

<script>
function ChangeCheckboxLabel(ckbx)
{
   var d = ckbx.id;
   if(ckbx.checked)
   {
      document.getElementById("checkbox-checked").style.display = "inline";
      document.getElementById("checkbox-unchecked").style.display = "none";
   }
   else
   {
      document.getElementById("checkbox-checked").style.display = "none";
      document.getElementById("checkbox-unchecked").style.display = "inline";
   }
}
</script>