<div class="container">
    <img id="background_image" src="/images/cinq_background.png"/>
    <div id="ws_list" class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Welcome Screens list</h2>
                </div>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_image'">
                        <i class="fa fa-plus">Add new image</i>
                    </button>
                </di>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_video'">
                        <i class="fa fa-plus">Add new video</i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Date</th>
                    <th>Activation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Banco Barigui</td>
                    <td>14/04/2019</td>
                    <td>
                        <div class="form-group" style="float: left">
                            <label for="defaultImage" style="float: right">&nbspActivate this WS</label>
                            <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked>
                        </div>
                    </td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Bosh</td>
                    <td>10/04/2019</td>
                    <td>
                        <div class="form-group" style="float: left">
                            <label for="defaultImage" style="float: right">&nbspActivate this WS</label>
                            <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked>
                        </div>
                    </td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>Fender</td>
                    <td>09/04/2019</td>
                    <td>
                        <div class="form-group" style="float: left">
                            <label for="defaultImage" style="float: right">&nbspActivate this WS</label>
                            <input type="checkbox" style="float: right" name="defaultImage" id="defaultImage" checked>
                        </div>
                    </td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>      
            </tbody>
        </table>
    </div>
</div>                            