<div class="gallery">
  {{#each images}}
    {{#checkImagectivation this}}
    {{/checkImagectivation}}
  {{/each}}
  {{#each videos}}
    {{#checkVideoActivationPreview this}}
    {{/checkVideoActivationPreview}}
  {{/each}}
</div>

<script>
  var socket = io.connect("http://{{host}}:3000");
  socket.on('RefreshPage', function(data) {
    location.reload();
  });
</script>
