<div class="gallery">
    {{#each images}}
        {{#if this.activated}}
        <section>
            <img class="current_image_with_nav" id="current_image" src="/uploads/{{this.imageName}}"/>
            <ul class="list-group row guests_list">

                {{#companyList this.company1}}
                {{/companyList}}

                {{#companyList this.company2}}
                {{/companyList}}

                {{#each this.guestsNames}}
                    {{#guestList this}}
                    {{/guestList }}
                {{/each}}
            </ul>
        </section>
        {{/if}}
    {{/each}}
    {{#each videos}}
        {{#if this.activated}}
        <section>
            <video class="current_video_with_nav" id="current_video" autoplay loop muted preload>
                <source src="/uploads/{{this.videoName}}" type="video/mp4"></source>
            </video>
        </section>
        {{/if}}
    {{/each}}
</div>

<script>
    var socket = io.connect('http://kiosk:3000');
    socket.on('RefreshPage', function (data) {
        location.reload();
    });
</script>
