<div class="container">
    <img id="current_image" src="/images/cinq_default.jpg">
    <div id="guests">
        <h1 id="company_name">Banco Barigui:</h1>
        <ul id="guests_names">
            <li>Fernando Belo</li>
            <li>Mônica Mendes</li>
        </ul>
    </div> 
</div>