<div>
    <img id="current_image_with_nav" src="/images/cinq_default.jpg">
    <ul id="guests-list" class="list-group row">
        <li class="list-group-item col-xs-12 company-name">Banco Barigui:</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Fernando Belo</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Mônica Mendes</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Paulo Lima</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; John Mayer</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Myles Kennedy</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Sebastian Bach</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; John Wick</li>
        <li class="list-group-item col-xs-6 text-center">&#x2022; Mike Mayers</li>
    </ul>
</div>