@keyframes loader {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader-inner {
  0% { height: 0%; }
  25% { height: 0%; }
  50% { height: 100%; }
  75% { height: 100%; }
  100% { height: 0%; }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
}

input[type="submit"]:disabled {
  background-color: #EE9658;
}

table.table {
  table-layout: fixed;
}

table.table tr th table.table tr td {
  border-color: #e9e9e9;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table th:last-child {
  width: 100px;
}

table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    

table.table td a.add {
  color: #27C46B;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #E34724;
}

table.table td i {
  font-size: 19px;
}

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}

table.table .form-control.error {
  border-color: #f50000;
}

table.table td .add {
  display: none;
}

nav > .nav.nav-tabs {
  margin-top: 5%;
  border: none;
  color:#FFFFFF;
  background:#272E38;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color:#FFFFFF;
  background:#272e38;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color:#EE9658 ;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background:#EE9658;
  color:#FFFFFF;
  transition:background 0.20s linear;
}

input[type="checkbox"].switch_btn {
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch_btn:checked {
	background: #EE9658;
}
  
input[type="checkbox"].switch_btn:after {
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #FFF;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
  transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
 }
  
input[type="checkbox"].switch_btn:checked:after {
	left: calc(100% - 1.5em);
}

.tab-tible-visitor-page:hover {
  border-top-left-radius: 10px;
}

.tab-tible-video:hover {
  border-top-right-radius: 10px;
}

.border-shadow {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 10px;
}

.border-shadow-header {
  box-shadow: 5px 5px 5px #000000;
}

.border-shadow-nav {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 10px;
}

.border-shadow-list {
  box-shadow: 5px 5px 5px #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.emptyFields {
  border: 1px solid red;
}

.fulfilledFields {
  border: 1px solid greenyellow;
}

.swal2-popup {
  font-family: 'Raleway', sans-serif;
}

.gallery {
  background-color: #002C4F;
}

.cursor_hidden {
  cursor: none;
}

.table-title .add-new i {
  margin-right: 4px;
}

.cd-slider-nav {
  position: fixed;
  z-index: 1;
}

.table-title h2 {
  margin: 6px 0px 15px;
  font-size: 22px;
}

.table-wrapper {
  background: #FFFFFF;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
  margin: 0 0 10px;
  font-family: 'Raleway', sans-serif;
}

.releway-font {
  font-family: 'Raleway', sans-serif;
}

.releway-font-sub {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.sign {
  width: 100%;
  color: #FFFFFF;
}

.delete {
  background-color: #FF0000;
  width: 100%;
  color: #FFFFFF;
}

.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}

.margin-align {
  margin-right: 15px;
}

.btn-add-page {
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  height: 30px;
  padding: 0px;
  color: #FFFFFF;
}

.btn-upload {
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  height: 40px;
  padding: 0px;
  color: #FFFFFF;
}

.btn-default {
  background-color: #EE9658;
}

.btn-cancel {
  color: #FFFFFF;
  background-color: #272E38;
}

.video {
  height: 40px;
}

.welcome-list {
  border-radius: 10px;
}

.container_login {
  padding-top: 250px;
}

.page-login {
  width: 100%;
	padding: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 400px;
  border-radius: 10px;
}

.navbar-toggler:focus {
  outline: none
}

.switch_label:hover, .switch_label_avai:hover {
  cursor: pointer;
}

.check-input {
  vertical-align: middle;
  top: -2px;
}

.switch_label_avai {
  margin-top: 5px
}

.page-enroll {
	padding: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  position: relative;
  background-color: #fff;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin {
  padding-top: 30px;  
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: center;
}

.btn-info {
	background-color: #EE9658;
  border: none;
  left: 25%;
  right: 25%;
}

.img-responsive {
  height: 150px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 0 auto;
}

.cd-slider-nav {
  width: 100%;
  height: 64px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 7, 9);
}

.nav-settings {
  background-color: rgb(0, 7, 9);
  border: black;
  border-radius: 0;
  margin: 0;
}

.navbar {
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.logo {
  position: absolute;
  display: block;
  top: 8px;
  height: 40px;
  width: 130px;
  padding: 0;
}

.btn-register {
  margin-top: 10px;
  background-color: #002C4F;
}

.cd-slider-nav .nav-item.selected .nav-link,
.cd-slider-nav .nav-item .nav-link:hover,
.cd-slider-nav .nav-item .nav-link:focus {	
	background-color: #EE9658;
}

.nav-item {
  font-size: 20px;
}

.dropdown-menu {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.navbar-dark {
  background-color: #000d17;
  z-index: 1000;
}

.tm-navbar-bg {
  text-transform: uppercase;
  text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
  padding-left: 10px; 
  padding-right: 0;
  position: static;
}

.material-icons {
  vertical-align: middle !important;
}

.dropdown-item {
  font-family: 'Raleway', sans-serif;
}

.passesDontMatch {
  border-color: red;
}

.passesMatch {
  border-color: #0F0;
}

.company_name {
  right: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.guests_list {
  position: fixed;
  width: 100%;
  margin: 0 auto; 
  bottom: 12%;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #FFFFFF;
}

.guest-item {
  text-align: center;
}

.current_video, .current_video_with_nav, .current_video_fill {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  width: 100%; 
  height: 100%;
}

.current_video_blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  z-index: -2;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%; 
  height: 100%;
  -webkit-transform: scaleX(1000); 
  -moz-transform: scaleX(1000);
}

.current_video_with_nav {
  top: 62px;
  object-fit: fill;
}

.current_image_with_nav {
  top: 50px;
}

.flt_right {
  float: right;
}

.flt_right_av {
  float: right;
  margin-top: 5px;
}

.flt_left {
  float: left;
}

.vsb_hidden {
  visibility: hidden;
}

.vsb_none {
  display: none;
}

.ws-list-init {
  margin-bottom: 40px;
}

.scheduled_screens_table {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.current_image, .current_image_with_nav, #background_image {
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: -1;
  position: fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.current_image_vp {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  position: fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ellipsis {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete-icon {
  color: #FF0000;
}

.on-icon {
  color: greenyellow;
}

.off-icon {
  color: #FF0000;
}

.programmed-icon {
  color: deepskyblue;
}

.tab-title {
  font-family: 'Raleway', sans-serif;
}

.tab-pane {
  font-family: 'Raleway', sans-serif;
}

.tab-content{
  background:#FDFDFD;
  line-height: 25px;
  border: 1px solid #DDDDDD;
  border-top:5px solid #EE9658;
  border-bottom:5px solid #EE9658;
  padding: 30px 25px;
}

.panel-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader-wrapper {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #002C4F;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #EE9658;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #EE9658;
  animation: loader-inner 2s infinite ease-in;
}

#new_welcome_screen_form {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

#btn_delete {
  margin-top: 10px;
  background: #F50000; 
} 

#field {
  margin-bottom:20px;
}

#create-btn {
  top: 10px;
  margin-bottom: 10px;
}

#nav-toggle-button:hover, #nav-toggle-button:focus {
  background-color: #EE9658;
  border-color: #EE9658;
}